DATABASE_URL="postgresql://postgres:postgres@localhost:5432/database"

URL=localhost
PORT=3000
SECURITY="http://"

ACCESS_TOKEN="dasdasdasdasd"
REFRESH_TOKEN="tokeasdasdasdasdan"
EXPIRES_IN_TOKEN=1036800
EXPIRES_IN_REFRESH_TOKEN=1036800
EXPIRES_REFRESH_TOKEN_DAYS = 30

MAIL_HOST=""
MAIL_PORT=
MAIL_USER=""
MAIL_PASSWORD=""